{% extends "./master.html" %}

{% block title %} Lista Huéspedes {% endblock %}

{% block body %}

    <div class="row mx-3 overflow-auto ">
        <div class="col-sm-12 col-md-5 col-lg-3 col-xl-3 py-2">
            <form action="/registrarPersona/" method="POST" >{% csrf_token %}
                <div class="form-group row py-2">
                    <label for="nombre" class="col-3 col-form-label">Nombre</label> 
                    <div class="col-9">
                      <input id="nombre" name="nombre" type="text" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="apellido" class="col-3 col-form-label">Apellido</label> 
                    <div class="col-9">
                      <input id="apellido" name="apellido" type="text" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="email" class="col-3 col-form-label">E-mail</label> 
                    <div class="col-9">
                      <input id="email" name="email" type="email" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="edad" class="col-3 col-form-label">Edad</label> 
                    <div class="col-9">
                      <input id="edad" name="edad" type="number" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="sexo" class="col-3 col-form-label">Sexo:</label>
                    <div class="col-9">
                        <select name="sexo" id="sexo" class="form-control">
                            <option value="">Seleccionar</option>
                            <option value="H">H</option>
                            <option value="M">M</option>
                            <option value="X">X</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="fecha_nacimiento" class="col-3 col-form-label">Fecha de Nacimiento</label> 
                    <div class="col-9">
                      <input id="fecha_nacimiento" name="fecha_nacimiento" type="date" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row" py-2>
                    <label for="fecha_entrada" class="col-3 col-form-label">Fecha de entrada</label> 
                    <div class="col-9">
                      <input id="fecha_entrada" name="fecha_entrada" type="date" required="required" class="form-control">
                    </div>
                </div>
                <div class="form-group row" py-2>
                    <label for="fecha_salida" class="col-3 col-form-label">Fecha de salida</label> 
                    <div class="col-9">
                      <input id="fecha_salida" name="fecha_salida" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="direccion" class="col-3 col-form-label">Dirección</label> 
                    <div class="col-9">
                      <input id="direccion" name="direccion" type="text" class="form-control" required="required">
                    </div>
                </div>
                <div class="form-group row py-2">
                    <label for="telefono" class="col-3 col-form-label">Teléfono</label> 
                    <div class="col-9">
                      <input id="telefono" name="telefono" type="number" required="required" class="form-control">
                    </div>
                </div> 
                <div class="form-group row py-2">
                    <div class="offset-3 col-9">
                      <button name="submit" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                
            </form>
               
        </div>
        <div class="col-sm-12 col-md-7 col-lg-9 col-xl-9 py-2" >
            <h1>Listado de Huéspedes</h1>

            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <style>
                            .table th {
                            width: auto;
                            white-space: nowrap;
        }
                        </style>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Fecha Nacimiento</th>
                            <th scope="col">Fecha Entrada</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Telefono</th>
                            <th colspan="2" scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in personas %}
                        <tr>
                            <td>{{p.nombre}}</td>
                            <td>{{p.apellido}}</td>
                            <td>{{p.email}}</td>
                            <td>{{p.edad}}</td>
                            <td>{{p.sexo}}</td>
                            <td>{{p.fecha_naciento}}</td>
                            <td>{{p.fecha_entrada}}</td>
                            <td>{{p.fecha_salida}}</td>
                            <td>{{p.direccion}}</td>
                            <td>{{p.telefono}}</td>
                            <td><a href="educionPersona/{{p.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarPersona/{{p.id}}" class="btn btn-danger"">Eliminar</a></td>

                        </tr>

                        {% endfor %}
                    </tbody>

                </table>

            </div>
            
        </div>
    </div>
{% endblock %}